In [1]:
import pandas as pd, sys, numpy as np

In [62]:
# add main directory to path in order to import other parts of the shelter animal outcomes project
sys.path.extend(['/Users/pc3sq/Google Drive/Data Science Library/!notebooks/shelter animal outcomes kaggle/'])

from src.pipeline import age_to_days

In [3]:
clean = pd.read_csv('../data/shelter-clean.csv')

In [16]:
transform = clean.copy()

In [5]:
# # previous transformation pipeline (for reference only; no longer in use)
# def transform_df(df):
#     dframe = df.copy()

#     dframe['Name'] = dframe['Name'].apply(lambda name: "hasName" if name!="noName" else name)

#     dframe = dframe.drop('OutcomeSubtype', axis=1)

#     dframe['AgeuponOutcome'] = dframe['AgeuponOutcome'].apply(age_to_days)

#     # create date features
#     dframe['DateTime'] = pd.to_datetime(dframe['DateTime'])
#     dframe['dow'] = dframe['DateTime'].apply(lambda dt: dt.dayofweek)
#     # dframe['dom']= dframe['DateTime'].apply(lambda dt: dt.day) # day of month might be useful
#     dframe['month'] = dframe['DateTime'].apply(lambda dt: dt.month)
#     dframe['doy'] = dframe['DateTime'].apply(lambda dt: dt.dayofyear)

#     # convert day of week to weekday names
#     weekdays = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
#     dframe['dow'] = dframe['dow'].apply(lambda dow: weekdays[dow])

#     # convert nominal month to month names
#     months = {1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April', 5: 'May', 6: "June", 7: "July",\
#            8: 'Aug', 9: 'Sept', 10: "Oct", 11: 'Nov', 12: 'Dec'}
#     dframe['month'] = dframe['month'].apply(lambda month: months[month])

#     # extract mixed vs. pure for Breed
#     dframe['Breed'] = dframe['Breed'].apply(lambda breed: "Mix" if "Mix" in breed or "/" in breed else "Pure")

#     # get dummies
#     categoricals = ['Name', 'AnimalType', 'SexuponOutcome', 'Breed', 'dow', 'month']
#     dframe = pd.get_dummies(dframe, columns=categoricals)

#     # return only select columns
#     return dframe.drop(['AnimalID', 'DateTime', 'Color'], axis=1)

# <center>Update Tranformation Pipeline: Correct Binary Variable Dummying</center>

In [17]:
fix_binary = transform.copy()

In [18]:
# convert Breed feature to Pure vs. Mix
fix_binary['pureBreed'] = fix_binary['Breed'].apply(lambda breed: 0 if "Mix" in breed or "/" in breed else 1)

In [19]:
# check all pureBreeds == 1 and mixed == 0
sum(fix_binary[fix_binary['pureBreed']==1]['Breed'].apply(lambda breed: 1 if "Mix" in breed or "/" in breed else 0))

0

In [20]:
# extract hasName from Name
fix_binary['hasName'] = fix_binary['Name'].apply(lambda name: 0 if name=="noName" else 1)

In [21]:
# check pets with names == 1 and those without names == 0
sum(fix_binary[fix_binary['hasName']==1]['Name'].apply(lambda name: 1 if name=="noName" else 0))

0

In [22]:
# extract Dog or not dog from AnimalType
fix_binary['Dog'] = fix_binary['AnimalType'].apply(lambda specie: 1 if specie=="Dog" else 0)

In [23]:
# check all Dog==1 has not cats and all Dog==0 has no dogs
print sum(fix_binary[fix_binary['Dog']==1]['AnimalType'] == 'Cat')
print sum(fix_binary[fix_binary['Dog']==0]['AnimalType'] == 'Dog')

0
0

In [24]:
# make sure we drop our converted binary variables
fix_binary = fix_binary.drop(['Name', 'Breed', 'AnimalType'], axis=1)

In [25]:
# check remaining columns
fix_binary.columns

Index([u'AnimalID', u'DateTime', u'OutcomeType', u'OutcomeSubtype',
       u'SexuponOutcome', u'AgeuponOutcome', u'Color', u'pureBreed',
       u'hasName', u'Dog'],
      dtype='object')

## Extract Patterned From Color

In [26]:
patterned = fix_binary.copy()

In [28]:
# helpers for extracting Patterned from cats and dogs
def patterned_dog(color):
    dog_colors_with_patterns = { 'Black Brindle',
                                 'Black Brindle/Black',
                                 'Black Brindle/Brown',
                                 'Black Brindle/Brown Brindle',
                                 'Black Brindle/White',
                                 'Black/Black Brindle',
                                 'Black/Blue Tick',
                                 'Black/Brown Brindle',
                                 'Black/Tricolor',
                                 'Black/Yellow Brindle',
                                 'Blue Merle/Tricolor',
                                 'Blue Tick',
                                 'Blue Tick/Black',
                                 'Blue Tick/Brown',
                                 'Blue Tick/Brown Brindle',
                                 'Blue Tick/Red',
                                 'Blue Tick/Red Tick',
                                 'Blue Tick/Tan',
                                 'Blue Tick/White',
                                 'Blue/Brown Brindle',
                                 'Blue/Yellow Brindle',
                                 'Brown Brindle',
                                 'Brown Brindle/Black',
                                 'Brown Brindle/Blue',
                                 'Brown Brindle/Blue Cream',
                                 'Brown Brindle/Blue Tick',
                                 'Brown Brindle/Brown Brindle',
                                 'Brown Brindle/Brown Merle',
                                 'Brown Brindle/Red Tick',
                                 'Brown Brindle/Tan',
                                 'Brown Brindle/White',
                                 'Brown/Black Brindle',
                                 'Brown/Red Tick',
                                 'Brown/Tricolor',
                                  'Chocolate/Brown Brindle',
                                 'Chocolate/Red Tick',
                                 'Chocolate/Tricolor',
                                 'Cream/Red Tick',
                                 'Fawn/Brown Brindle',
                                 'Fawn/Tricolor',
                                 'Liver Tick',
                                 'Liver Tick/White',
                                 'Red Tick',
                                 'Red Tick/Black',
                                 'Red Tick/Blue Tick',
                                 'Red Tick/Brown',
                                 'Red Tick/Brown Merle',
                                 'Red Tick/Red',
                                 'Red Tick/Tan',
                                 'Red Tick/White',
                                 'Red/Red Tick',
                                 'Red/Tricolor',
                                 'Tan/Brown Brindle',
                                 'Tan/Tricolor',
                                 'Tan/Yellow Brindle',
                                 'Tricolor',
                                 'Tricolor/Black',
                                 'Tricolor/Blue',
                                 'Tricolor/Blue Merle',
                                 'Tricolor/Brown',
                                 'Tricolor/Brown Merle',
                                 'Tricolor/Chocolate',
                                 'Tricolor/Silver',
                                 'Tricolor/Tan',
                                 'Tricolor/White',
                                 'White/Black Brindle',
                                 'White/Blue Tick',
                                  'White/Brown Brindle',
                                 'White/Red Tick',
                                 'White/Tricolor',
                                 'White/Yellow Brindle',
                                 'Yellow Brindle',
                                 'Yellow Brindle/Blue',
                                 'Yellow Brindle/Tan',
                                 'Yellow Brindle/White' } 

    if color in dog_colors_with_patterns:
        return 1
    else:
        return 0

def patterned_cat(color):
    cat_colors_with_patterns = {'Agouti',
                                'Agouti/Brown Tabby',
                                'Brown Tiger',
                                'Black Tiger/White',
                                'Orange Tiger',
                                'Tricolor',
                                'Calico/Tricolor',
                                'Tricolor/Calico',
                                'Black Smoke/White',
                                'Black Smoke',
                                'Blue Smoke',
                                'Black/Black Smoke',
                                'Black Smoke/Brown Tabby',
                                'Chocolate/Black Smoke',
                                'White/Black Smoke',
                                'Tortie/Black Smoke',
                                'Cream Tabby',
                                'Blue Tabby',
                                'Orange Tabby/White',
                                'Brown Tabby',
                                'Orange Tabby',
                                'Cream Tabby/White',
                                'Blue Tabby/White',
                                'Brown Tabby/White',
                                'Black Tabby/White',
                                'White/Cream Tabby',
                                'White/Blue Tabby',
                                'White/Brown Tabby',
                                'White/Orange Tabby',
                                'Gray Tabby',
                                'Blue Tabby/Orange',
                                'Black Tabby',
                                'Calico/Brown Tabby',
                                'Silver Tabby',
                                'White/Black Tabby',
                                'Black/Silver Tabby',
                                'Blue Tabby/Blue Cream',
                                'Brown Tabby/Black',
                                'Gray Tabby/White',
                                'Black Tabby/Orange',
                                'Silver Tabby/White',
                                'Black Smoke/Brown Tabby',
                                'Blue Tabby/Tan',
                                'Black/Black Tabby',
                                'Brown Tabby/Gray',
                                'Brown/Black Tabby',
                                'Lynx Point/Brown Tabby',
                                'Orange Tabby/Black',
                                'Brown Tabby/Brown',
                                'White/Gray Tabby',
                                'Calico/Orange Tabby',
                                'Agouti/Brown Tabby',
                                'Brown Tabby/Tortie',
                                'Lynx Point/Gray Tabby',
                                'Blue Tabby/Cream',
                                'Silver Tabby/Black',
                                'Orange Tabby/Orange',
                                'Brown Tabby/Orange',
                                'Blue Cream/Blue Tabby',
                                'Calico/Blue Tabby',
                                'Brown Tabby/Gray Tabby',
                                'Lynx Point/White',
                                'Lynx Point',
                                'Tortie Point/Lynx Point',
                                'White/Lynx Point',
                                'Lynx Point/Brown Tabby',
                                'Silver Lynx Point',
                                'Lynx Point/Gray Tabby',
                                'Flame Point',
                                'Blue Point',
                                'Seal Point',
                                'Lynx Point/White',
                                'Lilac Point',
                                'Tortie Point',
                                'Lynx Point',
                                'Calico Point',
                                'Tortie Point/Lynx Point',
                                'White/Chocolate Point',
                                'Calico Point/White',
                                'Seal Point/White',
                                'Chocolate Point/White',
                                'White/Lynx Point',
                                'Blue Point/White',
                                'Chocolate Point',
                                'Seal Point/Brown',
                                'Lynx Point/Brown Tabby',
                                'Silver Lynx Point',
                                'Tortie Point/White',
                                'White/Flame Point',
                                'Cream/Seal Point',
                                'Lynx Point/Gray Tabby',
                                'Calico',
                                'Tortie/Calico',
                                'Calico Point',
                                'Calico/White',
                                'Calico Point/White',
                                'Calico/Brown Tabby',
                                'Calico/Black',
                                'Calico/Tricolor',
                                'Calico/Brown',
                                'Torbie/Calico',
                                'Calico/Orange Tabby',
                                'White/Calico',
                                'Calico/Blue Cream',
                                'Calico/Blue Tabby',
                                'Tricolor/Calico',
                                'Tortie',
                                'Tortie/Calico',
                                'Tortie Point',
                                'Tortie/White',
                                'Tortie Point/Lynx Point',
                                'Tortie/Blue Cream',
                                'Blue/Tortie',
                                'Tortie/Orange',
                                'Tortie/Brown',
                                'Tortie/Black',
                                'Tortie Point/White',
                                'Brown Tabby/Tortie',
                                'Tortie/Black Smoke',
                                'Blue Cream/Tortie',
                                'Torbie',
                                'Torbie/White',
                                'Torbie/Brown',
                                'Torbie/Blue Cream',
                                'Torbie/Calico'}
    
    if color in cat_colors_with_patterns:
        return 1
    else:
        return 0

In [30]:
patterned

,AnimalID,DateTime,OutcomeType,OutcomeSubtype,SexuponOutcome,AgeuponOutcome,Color,pureBreed,hasName,Dog
0,A671945,2014-02-12 18:22:00,Return_to_owner,noSubOutcome,Neutered Male,1 year,Brown/White,0,1,1
1,A656520,2013-10-13 12:44:00,Euthanasia,Suffering,Spayed Female,1 year,Cream Tabby,0,1,0
2,A686464,2015-01-31 12:28:00,Adoption,Foster,Neutered Male,2 years,Blue/White,0,1,1
3,A683430,2014-07-11 19:09:00,Transfer,Partner,Intact Male,3 weeks,Blue Cream,0,0,0
4,A667013,2013-11-15 12:52:00,Transfer,Partner,Neutered Male,2 years,Tan,0,0,1
5,A677334,2014-04-25 13:04:00,Transfer,Partner,Intact Female,1 month,Black/Tan,0,1,1
6,A699218,2015-03-28 13:11:00,Transfer,Partner,Intact Male,3 weeks,Blue Tabby,0,1,0
7,A671784,2014-02-04 17:17:00,Adoption,noSubOutcome,Spayed Female,5 months,Red/White,0,1,1
8,A677747,2014-05-03 07:48:00,Adoption,Offsite,Spayed Female,1 year,White,1,0,1
9,A666320,2013-11-04 14:48:00,Adoption,noSubOutcome,Spayed Female,2 years,Silver,0,0,1
10,A684601,2016-02-03 11:27:00,Adoption,Foster,Neutered Male,4 years,Brown,0,1,1
11,A704702,2015-06-08 16:30:00,Return_to_owner,noSubOutcome,Neutered Male,2 years,Black/Red,0,1,1
12,A688584,2015-11-25 15:00:00,Return_to_owner,noSubOutcome,Neutered Male,1 year,White/Cream,0,1,1
13,A678825,2014-07-12 12:10:00,Adoption,Foster,Neutered Male,3 months,Orange Tabby/White,0,1,0
14,A678050,2014-05-03 16:15:00,Transfer,Partner,Intact Male,3 weeks,Brown Tabby,0,0,0
15,A680028,2014-06-07 12:54:00,Transfer,Partner,Intact Female,2 weeks,Brown/White,0,0,1
16,A679010,2014-05-17 11:32:00,Transfer,Partner,Intact Female,2 years,White,0,1,0
17,A684787,2014-07-30 17:34:00,Return_to_owner,noSubOutcome,Neutered Male,1 year,Black,0,1,1
18,A670658,2014-01-19 15:03:00,Transfer,Partner,Intact Male,2 months,Black/White,0,1,1
19,A708812,2015-09-18 15:19:00,Transfer,Partner,Spayed Female,1 year,White,0,1,0
20,A705262,2015-08-15 14:22:00,Adoption,noSubOutcome,Spayed Female,2 years,Brown Brindle/White,0,1,1
21,A665781,2013-10-28 16:32:00,Adoption,noSubOutcome,Neutered Male,10 months,Brown/White,0,1,1
22,A676333,2014-04-09 17:44:00,Return_to_owner,noSubOutcome,Neutered Male,2 months,Black/Brown,0,1,1
23,A712750,2015-10-03 15:44:00,Transfer,Partner,Intact Female,1 month,Orange Tabby,0,1,0
24,A718832,2016-01-15 17:31:00,Adoption,noSubOutcome,Spayed Female,6 months,Chocolate/White,0,1,1
25,A698777,2015-03-25 18:50:00,Adoption,noSubOutcome,Spayed Female,5 years,White/Tan,0,1,1
26,A715348,2015-11-21 13:01:00,Adoption,noSubOutcome,Spayed Female,2 months,Cream Tabby/White,0,1,0
27,A708666,2015-07-30 14:30:00,Return_to_owner,noSubOutcome,Neutered Male,7 years,Blue,0,1,0
28,A718535,2016-01-01 13:57:00,Euthanasia,Suffering,Spayed Female,3 years,Calico,0,0,0
29,A707341,2015-07-15 15:25:00,Transfer,Partner,Intact Male,4 months,Black/White,0,1,1
...,...,...,...,...,...,...,...,...,...,...
25582,A687922,2014-09-12 17:56:00,Return_to_owner,noSubOutcome,Neutered Male,1 year,Brown,0,1,1
25583,A678136,2014-05-04 16:17:00,Transfer,Partner,Intact Male,4 weeks,Seal Point,0,0,0
25584,A676460,2014-04-21 14:01:00,Euthanasia,Behavior,Neutered Male,2 years,White/Black,0,1,1
25585,A704999,2015-06-15 19:28:00,Return_to_owner,noSubOutcome,Intact Male,10 months,Tan/Cream,0,1,1
25586,A678842,2014-06-15 17:41:00,Transfer,Partner,Intact Female,11 months,White/Black,0,1,1
25587,A713637,2015-10-11 09:42:00,Died,In Kennel,Spayed Female,2 years,Lynx Point,0,0,0
25588,A716670,2015-12-04 12:22:00,Transfer,Partner,Neutered Male,6 years,Seal Point,0,1,0
25589,A716223,2015-11-17 17:17:00,Transfer,Partner,Intact Female,4 weeks,White/Black,0,1,0
25590,A662498,2013-10-19 15:34:00,Transfer,Partner,Intact Female,2 months,Tortie,0,1,0
25591,A689942,2014-10-19 13:29:00,Adoption,noSubOutcome,Spayed Female,2 months,Black,0,1,0
25592,A666920,2013-11-13 17:32:00,Transfer,Partner,Neutered Male,2 years,White/Brown,0,1,1
25593,A714386,2015-10-24 00:00:00,Adoption,noSubOutcome,Spayed Female,1 month,Sable/Buff,0,0,1
25594,A692622,2014-11-24 17:21:00,Transfer,Partner,Intact Female,1 month,Brown/Black,0,1,1
25595,A666284,2013-10-30 18:32:00,Transfer,Partner,Intact Female,1 year,Buff,0,1,1
25596,A535277,2015-04-20 16:04:00,Return_to_owner,noSubOutcome,Neutered Male,12 years,Chocolate/Tan,1,1,1
25597,A671169,2014-01-20 17:37:00,Euthanasia,Suffering,Intact Female,18 years,Tortie,0,0,0
25598,A679031,2014-05-31 16:11:00,Adoption,noSubOutcome,Spayed Female,2 months,Orange Tabby,0,1,0
25599,A708833,2015-08-05 17:03:00,Adoption,noSubOutcome,Spayed Female,2 months,Black/White,0,1,1
25600,A697158,2015-05-02 21:04:00,Adoption,Offsite,Neutered Male,2 months,White/Black,0,1,1
25601,A519949,2014-06-30 17:34:00,Return_to_owner,noSubOutcome,Spayed Female,9 years,Black,0,1,1
25602,A701044,2015-04-28 14:26:00,Adoption,noSubOutcome,Neutered Male,2 months,Black/Tricolor,0,0,1
25603,A704405,2015-07-18 14:08:00,Adoption,noSubOutcome,Spayed Female,2 months,Brown Tabby,0,1,0
25604,A662019,2014-07-17 09:43:00,Adoption,Foster,Spayed Female,5 years,Black,0,1,0
25605,A687056,2014-08-31 09:00:00,Transfer,SCRP,Intact Male,5 months,Orange Tabby,0,0,0
25606,A716997,2016-01-29 18:52:00,Adoption,noSubOutcome,Neutered Male,6 years,Blue/White,0,1,1
25607,A702446,2015-05-14 11:56:00,Transfer,Partner,Intact Male,1 month,Brown Tabby/White,0,0,0
25608,A718934,2016-01-20 18:59:00,Transfer,SCRP,Spayed Female,3 months,Brown Tabby,0,0,0
25609,A698128,2015-03-09 13:33:00,Adoption,noSubOutcome,Neutered Male,4 years,White/Tan,0,1,1
25610,A677478,2014-04-27 12:22:00,Transfer,Partner,Intact Male,4 weeks,Black,0,0,0
25611,A706629,2015-07-02 09:00:00,Transfer,SCRP,Intact Male,1 year,Brown Tabby/White,0,0,0

In [31]:
# extract Patterned for dogs and cats
patterned['Patterned'] = [patterned_dog(row['Color']) if row['Dog']==1 else patterned_cat(row['Color']) for i, row in patterned.iterrows()]

In [34]:
# quick view of Patterned values
patterned['Patterned'][:10]

0    0
1    1
2    0
3    0
4    0
5    0
6    1
7    0
8    0
9    0
Name: Patterned, dtype: int64

In [37]:
# percentage of dogs that are patterned
sum(patterned[patterned['Dog']==1]['Patterned']==1) / float(patterned[patterned['Dog']==1].shape[0])

0.13075435203094776

In [39]:
# percentage of cats that are patterned
sum(patterned[patterned['Dog']==0]['Patterned']==1) / float(patterned[patterned['Dog']==0].shape[0])

0.67333201346268068

In [36]:
# overall percentage of patterned animals in dataset
sum(patterned['Patterned']==1) / float(patterned.shape[0])

0.34476026862408249

## Extract Multi-Colored From Color

In [92]:
# copy of an instance of transformed dframe until now
multicolored = patterned.copy()

In [93]:
# helpers for extracting Patterned from cats and dogs
def multi_dog(color):
    solid_dog_colors = { 'Tan',
                         'White',
                         'Silver',
                         'Brown',
                         'Black',
                         'Yellow',
                         'Buff',
                         'Red',
                         'Brown Brindle',
                         'Gray',
                         'Blue Merle',
                         'Sable',
                         'Cream',
                         'Chocolate',
                         'Fawn',
                         'Blue',
                         'Apricot',
                         'Yellow Brindle',
                         'Gold',
                         'Blue Tick',
                         'Red Merle',
                         'Black Brindle',
                         'Brown Merle',
                         'Red Tick',
                         'Liver Tick',
                         'Blue Tiger',
                         'Orange',
                         'Brown Tiger',
                         'Black Smoke' }

    if color in solid_dog_colors:
        return 0
    else:
        return 1

def multi_cat(color):
    solid_cat_colors = { 'Apricot',
                         'Black',
                         'Black Brindle',
                         'Black Smoke',
                         'Blue',
                         'Blue Merle',
                         'Blue Tick',
                         'Blue Tiger',
                         'Brown',
                         'Brown Brindle',
                         'Brown Merle',
                         'Brown Tiger',
                         'Buff',
                         'Chocolate',
                         'Cream',
                         'Fawn',
                         'Gold',
                         'Gray',
                         'Liver Tick',
                         'Orange',
                         'Red',
                         'Red Merle',
                         'Red Tick',
                         'Sable',
                         'Silver',
                         'Tan',
                         'Tricolor',
                         'White',
                         'Yellow',
                         'Yellow Brindle' }

    if color in solid_cat_colors:
        return 0
    else:
        return 1

In [94]:
# extract multi-colored for dogs and cats
multicolored['Multi-Colored'] = [multi_dog(row['Color']) if row['Dog']==1 else multi_cat(row['Color']) for i, row in multicolored.iterrows()]

In [95]:
# return indices of where cats are solid colored
idx_solid_colored_cats = multicolored[multicolored['Dog']==0]['Color'].isin([ 'Apricot',
                                                                                 'Black',
                                                                                 'Black Brindle',
                                                                                 'Black Smoke',
                                                                                 'Blue',
                                                                                 'Blue Merle',
                                                                                 'Blue Tick',
                                                                                 'Blue Tiger',
                                                                                 'Brown',
                                                                                 'Brown Brindle',
                                                                                 'Brown Merle',
                                                                                 'Brown Tiger',
                                                                                 'Buff',
                                                                                 'Chocolate',
                                                                                 'Cream',
                                                                                 'Fawn',
                                                                                 'Gold',
                                                                                 'Gray',
                                                                                 'Liver Tick',
                                                                                 'Orange',
                                                                                 'Red',
                                                                                 'Red Merle',
                                                                                 'Red Tick',
                                                                                 'Sable',
                                                                                 'Silver',
                                                                                 'Tan',
                                                                                 'Tricolor',
                                                                                 'White',
                                                                                 'Yellow',
                                                                                 'Yellow Brindle' ])

In [96]:
# check no solid colored cats have Multi-Colored value of 1
print sum(multicolored[multicolored['Dog']==0][idx_solid_colored_cats]['Multi-Colored']==1)

#check no multi-colored cats have Multi-Colored value of 0
print sum(multicolored[multicolored['Dog']==0][idx_solid_colored_cats==False]['Multi-Colored']==0)

0
0

In [97]:
idx_solid_colored_dogs = multicolored[multi_colored['Dog']==1]['Color'].isin([ 'Tan',
                                                                                 'White',
                                                                                 'Silver',
                                                                                 'Brown',
                                                                                 'Black',
                                                                                 'Yellow',
                                                                                 'Buff',
                                                                                 'Red',
                                                                                 'Brown Brindle',
                                                                                 'Gray',
                                                                                 'Blue Merle',
                                                                                 'Sable',
                                                                                 'Cream',
                                                                                 'Chocolate',
                                                                                 'Fawn',
                                                                                 'Blue',
                                                                                 'Apricot',
                                                                                 'Yellow Brindle',
                                                                                 'Gold',
                                                                                 'Blue Tick',
                                                                                 'Red Merle',
                                                                                 'Black Brindle',
                                                                                 'Brown Merle',
                                                                                 'Red Tick',
                                                                                 'Liver Tick',
                                                                                 'Blue Tiger',
                                                                                 'Orange',
                                                                                 'Brown Tiger',
                                                                                 'Black Smoke' ])

In [98]:
# check no solid colored dogs have Multi-Colored value of 1
print sum(multicolored[multicolored['Dog']==1][idx_solid_colored_dogs]['Multi-Colored']==1)

# check no multi-colored dogs have a Multi-Colored value of 0
print sum(multicolored[multicolored['Dog']==1][idx_solid_colored_dogs == False]['Multi-Colored'] == 0)

0
0

## Apply Remaining Transformations

In [105]:
final = multicolored.copy()

In [106]:
# convert all values in AgeuponOutcome to days
final['AgeuponOutcome'] = final['AgeuponOutcome'].apply(age_to_days)

# get dummies for non-binary categorical variables
categoricals = ['SexuponOutcome']
final = pd.get_dummies(final, columns=categoricals)

final = final.drop(['AnimalID', 'DateTime', 'Color', 'OutcomeSubtype'], axis=1)

In [107]:
final.columns

Index([u'OutcomeType', u'AgeuponOutcome', u'pureBreed', u'hasName', u'Dog',
       u'Patterned', u'Multi-Colored', u'SexuponOutcome_Intact Female',
       u'SexuponOutcome_Intact Male', u'SexuponOutcome_Neutered Male',
       u'SexuponOutcome_Spayed Female'],
      dtype='object')

# <center>New Transformation Pipeline</center>

Comments have been included about the DateTime column. DateTime should be treated as a type of target leakage because like the OutcomeSubtype column that has already been removed, it contains information unknown to the model until at the time of the outcome. I have chosen to remove it from the model.

While DateTime shouldn't be included as a predictor variable due to target leakage, it is nevertheless important to study the outcome DateTime to see if there is a correlation between some time feature and an outcome. Some animals may be more vulnerable to unfavorable outcomes during certain months or days of the week. Or perhaps there is a seasonality to adoption rates, that there are more adoptions when the weather is nice each year. Features extracted from DateTime can certainly be explored further for insights.

In [101]:
# new transform pipeline

def transform_pipeline(df):
    dframe = df.copy()
    
    # extract Dog or not dog from AnimalType
    dframe['Dog'] = dframe['AnimalType'].apply(lambda specie: 1 if specie=="Dog" else 0)
    
    # extract mixed vs. pure for Breed
    dframe['pureBreed'] = dframe['Breed'].apply(lambda breed: 0 if "Mix" in breed or "/" in breed else 1)
    
    # extract hasName from Name
    dframe['hasName'] = dframe['Name'].apply(lambda name: 0 if name=="noName" else 1)

    # extract Multi-colored from Color for dogs and cats
    dframe['Multi-Colored'] = [multi_dog(row['Color']) if row['Dog']==1 else multi_cat(row['Color']) for i, row in dframe.iterrows()]
    
    # extract Patterned from Color for dogs and cats
    dframe['Patterned'] = [patterned_dog(row['Color']) if row['Dog']==1 else patterned_cat(row['Color']) for i, row in dframe.iterrows()]

    # convert all values in AgeuponOutcome to days
    dframe['AgeuponOutcome'] = dframe['AgeuponOutcome'].apply(age_to_days)

    # get dummies for non-binary categorical variables
    categoricals = ['SexuponOutcome']
    dframe = pd.get_dummies(dframe, columns=categoricals)

    # return only select columns
    # dropping OutcomeSubtype due to target leakage
    return dframe.drop(['AnimalID', 'AnimalType', 'Breed', 'Name', 'DateTime', 'Color', 'OutcomeSubtype'], axis=1)

In [102]:
test_new_pipeline = transform_pipeline(clean)

In [108]:
# check that dframe produced by transform_pipeline() == dframe manually produced in this notebook
test_new_pipeline.shape == final.shape

True

In [109]:
# check that dframe columns produced by transform_pipeline() == dframe columns manually produced in this notebook
sorted(test_new_pipeline.columns) == sorted(final.columns)

True

In [110]:
## saved new transformed dataset to data folder
# test_new_pipeline.to_csv('../data/transformed-shelter-2016-07-28.csv', index=False)